.header-website{
    height: 13vh;
    background-color: aqua;
}
article{
    padding: 30px 0;
    min-height: 76vh;
}
footer{
  min-height: 5vh;
    background-color: #313131;
    color: #c1c1c1;
    text-align: center;
    font-size: 18px;
    padding: 12px;
}

/* BOOK */
.header-book{
  display: flex;
}
@supports(display: grid){
  .header-book{
    display: grid;
    grid-template-columns: 35% auto;
  }
  @media(max-width: 1000px){
    .header-book{
      text-align: center;
      display: grid;
      grid-template-columns: 100%;
    }
  }
}

/* STARS */
.stars{
  height: 30px;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.stars > input[type="radio"] {
  position: absolute;
  left: -9999999px;
}
.stars > label{
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  color: transparent;
}

.stars > label::before{
  content: '★';
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
}
.online > label:hover::before,
.online > label:hover ~ label::before,
.online > input:checked ~ label::before{
  color: #dfa510;
}
