body {
  overflow-X: hidden;
}
nav{
  z-index: 99;
}
.header-website{
    height: 13vh;
    background-color: aqua;
}
article{
    padding: 30px 0;
    min-height: 76vh;
}
footer{
    min-height: 5vh;
    background-color: #313131;
    color: #c1c1c1;
    text-align: center;
    font-size: 18px;
    padding: 12px;
}
/* SEARCH */
.search-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.search-contaiener ul{
  display: block;
  position: absolute;
  padding: 0;
  border: 1px solid #c9bcbe;
  background-color: #FFF;
}
.search-contaiener li{
  list-style-type: none;
  border: 1px solid #c9bcbe;
  padding: 12px;
  margin: 0;
}
.prompt ul>a, .prompt ul>a:hover{
  text-decoration: none;
}
.prompt li{
  transition: .4s;
}
.prompt li:hover{
  background-color: #5cb85c;
  color: #FFF;
}
/* BOOK */
.header-book{
  display: flex;
}
@supports(display: grid){
  .header-book{
    display: grid;
    grid-template-columns: 35% auto;
  }
  @media(max-width: 1000px){
    .header-book{
      grid-template-columns: 100%;
    }
    .cover, h2.title{
      text-align: center;
    }
  }
}


/* ALL BOOKS */
.books-list{
  display: flex;
  flex-wrap: wrap;
}
.mini{
  text-align: center;
  padding: 0;
  display: block;
}
.books-list img{
  height: 200px;
  width: auto;
}
@supports(display: grid){
  .books-list{
    display: grid;
    grid-gap: 1em;
  }
  @media screen and (max-width: 700px){
    .books-list{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 700px){
    .books-list{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (min-width: 1000px){
    .books-list{
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

/* STARS */
.stars{
  width: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.stars > input[type="radio"] {
  position: absolute;
  left: -9999999px;
}
.stars > label{
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  color: transparent;
}

.stars > label::before{
  content: '★';
  color: #c0c0c0;
  font-size: 30px;
  line-height: 30px;
}
.online > label:hover::before,
.online > label:hover ~ label::before,
.online > input:checked ~ label::before{
  color: #dfa510;
}
